
<div fxLayout="row" fxLayoutAlign="center" >

  <div fxFlex="40" class="container">
    <h1>Store app</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis dolorem aliquid obcaecati quidem sequi at, cum iste, aliquam nisi ipsa sapiente dicta ducimus laboriosam. Labore, voluptates aperiam. Nihil, id porro.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae a, porro aspernatur esse deleniti magni alias eos odit dicta nostrum dignissimos provident blanditiis et reiciendis culpa dolor corporis quisquam fugit.</p>
  </div>

  <div fxFlex="40" class="container">
    <br>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" />
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Password" type="Password" />
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="login()">Login</button>
    <button mat-raised-button (click)="loginFacebook()">Facebook</button>
    <br>
    <br>
  </div>
</div>
