<div fxLayout="row" >

  <div fxFlex="40" class="div-form">

    <h2>Dispatches</h2>

    <form [formGroup]="dispatchForm" (ngSubmit)="createDispatch()" >

      <mat-form-field class="form-field">
        <mat-select placeholder="Customer" formControlName="customerId" >
          <mat-option *ngFor="let customer of customers" value="{{ customer.id }}" >{{ customer.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <!--
      <mat-form-field class="form-field">
        <input  matInput  placeholder="Charge" formControlName="charge"/>

        <mat-error *ngIf="dispatchForm.controls.charge.errors?.required">
            charge is <strong>required</strong>
        </mat-error>
      </mat-form-field>-->

      <br>

      <mat-form-field class="form-field">
          <input matInput [matDatepicker]="picker" placeholder="Departure date" formControlName="departureDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dispatchForm.controls.departureDate.errors?.required">
              Departure date is <strong>required</strong>
          </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
          <input matInput [matDatepicker]="picker2" placeholder="Arrive date" formControlName="arriveDate">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <mat-error *ngIf="dispatchForm.controls.arriveDate.errors?.required">
              Arrive date is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      <br>
      <mat-form-field class="form-field">
        <input  matInput #placesRefOrigin="ngx-places" placeholder="Origin" formControlName="origin" ngx-google-places-autocomplete />
      </mat-form-field>

      <mat-form-field class="form-field">
        <input  matInput #placesRefDestination="ngx-places" placeholder="Destination" formControlName="destination" ngx-google-places-autocomplete  />
      </mat-form-field>
      <br>

      <button mat-button color="primary" type="submit" [disabled]="!dispatchForm.valid"> Go !</button>
    </form>
    <br>
    <b>distance:</b> {{ travelDetail.distance?.text }}
    <br>
    <b>duration:</b>{{ travelDetail.duration?.text }}
    <br>
    <br>
    <br>
    <br>
    <!--dispatchForm.value | json -->


  </div>

  <div fxFlex="60" >
    <agm-map [latitude]="mapLat" [longitude]="mapLng" [zoom]="mapZoom" [disableDefaultUI]="false" [zoomControl]="false" >
      <agm-direction [origin]="origin" [destination]="destination">
      </agm-direction>
    </agm-map>
  </div>

</div>
