
<div fxLayout="row" fxLayoutAlign="center" >



  <div fxFlex="40" style="background-color: red">




  </div>


  <div fxFlex="40">
    <br>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" />
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Password" type="Password" />
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="login()">Login</button>
    <button mat-raised-button (click)="loginFacebook()">Facebook</button>
    <br>
    <br>
  </div>
</div>
