.avatar {
  border-radius: 50%;
  margin-right: .5em;
  margin-bottom: .5em;
}

mat-list {
  border: 1px solid #dddddd;
  margin-top: 1em;
/*   border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd; */
}


.mat-list-error {
  border-color: red;
}
