<mat-toolbar color="primary">

    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Store</span>

    <span class="span-spacer"></span>


    <button mat-icon-button>

      <mat-icon *ngIf="user === null else avatar" >account_circle</mat-icon>

      <ng-template #avatar>
        <img class="avatar" src="{{ user.photoUrl }}" alt="">
      </ng-template>
    </button>

</mat-toolbar>

<mat-sidenav-container class="sidenav-container oulet" >

  <mat-sidenav #drawer class="drawer" mode="over" autosize>

    <mat-accordion>
      <mat-expansion-panel>

        <mat-expansion-panel-header class="drawer-menu-item" >
          <mat-panel-title> Maps </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list class="drawer-menu-container">
          <mat-list-item class="drawer-menu-item">
            <a routerLink="/profile" (click)="drawer.toggle()" >Profile</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>

        <mat-expansion-panel-header class="drawer-menu-item" >
          <mat-panel-title> Store </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list class="drawer-menu-container">
          <mat-list-item class="drawer-menu-item">
            <a routerLink="/products/list" (click)="drawer.toggle()" >Products</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>

        <mat-expansion-panel-header class="drawer-menu-item" >
          <mat-panel-title> Customers </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list class="drawer-menu-container">

          <mat-list-item class="drawer-menu-item">
            <a routerLink="/profile" (click)="drawer.toggle()" >Dashboard</a>
          </mat-list-item>

          <mat-list-item class="drawer-menu-item">
              <a routerLink="/profile" (click)="drawer.toggle()" >Pending shipments</a>
          </mat-list-item>

          <mat-list-item class="drawer-menu-item">
              <a routerLink="/profile" (click)="drawer.toggle()" >Invoices</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-sidenav>


<router-outlet></router-outlet>

</mat-sidenav-container>

{{ message | async | json }}
