<mat-toolbar color="primary">
  <button mat-icon-button color="primary" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Store</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container" >

  <mat-sidenav #drawer class="drawer" mode="over" autosize>

    <mat-accordion>
      <mat-expansion-panel>

        <mat-expansion-panel-header class="drawer-menu-item" >
          <mat-panel-title> Maps </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list class="drawer-menu-container">
          <mat-list-item class="drawer-menu-item">
            <a routerLink="/profile" (click)="drawer.toggle()" >Profile</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>

        <mat-expansion-panel-header class="drawer-menu-item" >
          <mat-panel-title> Store </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list class="drawer-menu-container">
          <mat-list-item class="drawer-menu-item">
            <a routerLink="/products/list" (click)="drawer.toggle()" >Products</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

      <mat-expansion-panel>

        <mat-expansion-panel-header class="drawer-menu-item" >
          <mat-panel-title> Customers </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-list class="drawer-menu-container">

          <mat-list-item class="drawer-menu-item">
            <a routerLink="/profile" (click)="drawer.toggle()" >Dashboard</a>
          </mat-list-item>

          <mat-list-item class="drawer-menu-item">
              <a routerLink="/profile" (click)="drawer.toggle()" >Pending shipments</a>
          </mat-list-item>

          <mat-list-item class="drawer-menu-item">
              <a routerLink="/profile" (click)="drawer.toggle()" >Invoices</a>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-sidenav>


<router-outlet></router-outlet>
</mat-sidenav-container>


<!--



<div fxLayout="row" >

  <div fxFlex="30" class="div-form">

    <mat-form-field class="site-input">
      <input  matInput #placesRefOrigin="ngx-places" placeholder="Origin" ngx-google-places-autocomplete />
    </mat-form-field>

    <mat-form-field class="site-input">
      <input  matInput #placesRefDestination="ngx-places" placeholder="Destination" ngx-google-places-autocomplete  />
    </mat-form-field>

    <button mat-button color="primary" (click)="findTheWay()"> Go !</button>
  </div>

  <div fxFlex="70" >

      <agm-map [latitude]="mapLat" [longitude]="mapLng" [zoom]="mapZoom" [disableDefaultUI]="false" [zoomControl]="false" >
          <agm-direction [origin]="origin" [destination]="destination">
          </agm-direction>
      </agm-map>
  </div>

</div>


-->


