<!--
<mat-list>
  <mat-list-item *ngFor="let enroll of enrollments">

    <mat-icon mat-list-icon *ngIf="enroll.photoUrl === null; else avatar">account_circle</>

    <ng-template #avatar>
        <img class="avatar" src="{{ enroll.photoUrl }}" alt="">
    </ng-template>

    <h4 mat-line><strong>{{enroll.firstName +' '+ enroll.lastName}}</strong></h4>
    <p mat-line> {{ enroll.dateAvailable }}</p>

    <button mat-stroked-button (click)="activateEnrollment(enroll.uid)">Activate</button>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list> -->
