.div-header{
  padding: 1em;
}

section {
  padding: 1em;
}

aside {
 padding:1em;
}

.div-sell-detail {
 height: 250px;
 padding: 1em;
 border: 1px solid;
 border-color: #bebebe;
}

.div-price {
  height:110px;
  padding: .5em;

}
